.CardList {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: 85vh;
    margin-left: 3%;
    overflow-y: scroll;
    border-radius: 1%;
    background: #EBEBEB;
    box-shadow: -10px 10px 10px #535050;
}

.CardList .list {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: repeat(auto-fill, 1fr);

    row-gap: 4vh;
    column-gap: 2.5%;
}



@media only screen and (max-width : 950px) {

    .CardList {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
    }

}