.CardList {
    width: 80%;
    height: 90vh;
    margin-left: 30px;
    margin-right: 30px;
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 10px;

    background: #FAFAFA;
}



.CardList > .Card {
    /*grid-column: 10;*/
}



@media only screen and (max-width : 950px) {

    .CardList {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
    }

}